@{
    ViewData["Title"] = "Edit";
}
@{
    ViewData["Title"] = "Create";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var previewFile = function (event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById("preview");
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
}
@model dotNetShop.Models.Article

<h2>Edit Article</h2>

<form enctype="multipart/form-data" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly="@(true)" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImagePath"></label>
        <input type="hidden" asp-for="ImagePath" />
        <input type="hidden" asp-for="ThumbnailPath" />
        <div><img src="@Model.ResolvedImageFilePath" alt="@Model.Name" class="article-image" /></div>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile"></label>
        <div><input asp-for="ImageFile" type="file" onchange="previewFile(event)" /></div>
        <span asp-validation-for="ImageFile" class="text-danger"></span>
        <div><img id="preview" class="article-image" /></div>
    </div>
    
    <div class="form-group form-buttons">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<p class="nav-bottom">
    <a asp-action="Index">Back to Articles</a>
</p>