@{
    ViewData["Title"] = "Edit";
}
@model dotNetShop.Models.Category

<h2>Edit Category</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly="@(true)" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group form-buttons">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<p class="nav-bottom">
    <a asp-action="Index">Back to Categories</a>
</p>